.main_menu {
    position: fixed;
    gap: 4rem;
    background-color: #ddd;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1rem;
   top: 20vh;
   width: 100%;
   padding: 0.2 2rem;
  }
  
  .main_menu a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    padding: 0;
    background: none;
    border: none;
    display: inline-block;
    margin-left: 1rem;
    margin: 0 2rem
  }
  
  .main_menu a:hover {
    color: #4b70e8;
  }
  
  .main_menu .active {
    color: #4b70e8;;
  }